/* Home */

.home-darkmode {
  background-color: black;
  color: white;
}

/* Header */

.header {
  display: flex;
  padding-left: 60px;
  padding-right: 80px;
  height: 80px;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.header-darkmode {
  color: white;
}

.header:hover {
  background-color: rgba(247, 247, 244, 1);
}

.header-spring {
  position: sticky;
  background-color: rgba(255, 192, 203, 0.8);
}
.header-summer {
  position: sticky;
  background-color: rgba(135, 207, 235, 0.8);
}
.header-autumn {
  position: sticky;
  background-color: rgba(255, 69, 0, 0.8);
}
.header-winter {
  position: sticky;
  background-color: rgba(0, 255, 255, 0.5);
}

.darkmode .header {
  background-color: rgba(75, 74, 74, 0.8);
}

.header-spring:hover {
  background-color: pink;
}
.header-summer:hover {
  background-color: skyblue;
}
.header-autumn:hover {
  background-color: rgba(255, 69, 0, 1);
}
.header-winter:hover {
  background-color: aqua;
}

.header-darkmode:hover {
  background-color: rgba(75, 74, 74, 1);
}

.darkmode .header:hover {
  background-color: rgba(75, 74, 74, 1);
}

.header-logo {
  width: 200px;
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  cursor: default;
}

.header-nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
}

.header-nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-nav-link {
  padding: 0 50px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
  z-index: 2;
}

.header-darkmode .header-nav a {
  color: white;
}

.header-nav li:hover {
  transform: scale(1.2);
}

.header-nav .curlocation {
  pointer-events: none;
}

.header-nav .curlocation a {
  color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.header-darkmode .header-nav .curlocation a {
  color: rgba(255, 255, 255, 0.5);
}

.header-button {
  display: flex;
  align-items: center;
}

.header-button button {
  cursor: pointer;
  background: none;
}

.header-button button:hover {
  transform: scale(1.2);
}

.header-darkmode .header-button button {
  color: white;
  border-color: white;
}

.header-nav-submenu {
  display: none;
  position: fixed;
  list-style: none;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(247, 247, 244, 1);
  z-index: 1;
  border-radius: 5px;
}

.header-nav-submenu li {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
  cursor: pointer;
}

.header-nav-menu:hover > .header-nav-submenu {
  display: block;
}

.spring .header-nav-submenu {
  background-color: pink;
}
.summer .header-nav-submenu {
  background-color: skyblue;
}
.autumn .header-nav-submenu {
  background-color: rgba(255, 69, 0, 1);
}
.winter .header-nav-submenu {
  background-color: aqua;
}

.header-darkmode .header-nav-submenu {
  background-color: rgba(75, 74, 74, 1);
}

.header-nav-submenu a {
  text-decoration: none;
  color: black;
}

/* Hamburger */

.hamburger {
  display: none;
  padding-left: 10px;
  padding-right: 10px;
  height: 80px;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
}

.hamburger-darkmode {
  color: white;
}

.hamburger-menu {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.spring .hamburger {
  position: sticky;
  background-color: rgba(255, 192, 203, 0.8);
}
.summer .hamburger {
  position: sticky;
  background-color: rgba(135, 207, 235, 0.8);
}
.autumn .hamburger {
  position: sticky;
  background-color: rgba(255, 69, 0, 0.8);
}
.winter .hamburger {
  position: sticky;
  background-color: rgba(0, 255, 255, 0.8);
}

.spring .hamburger:hover {
  background-color: pink;
}
.summer .hamburger:hover {
  background-color: rgba(135, 207, 235, 1);
}
.autumn .hamburger:hover {
  background-color: rgba(255, 69, 0, 1);
}
.winter .hamburger:hover {
  background-color: rgba(0, 255, 255, 1);
}

.darkmode .hamburger {
  background-color: rgba(75, 74, 74, 0.8);
}

.darkmode .hamburger:hover {
  background-color: rgba(75, 74, 74, 1);
}

.hamburger:hover {
  background-color: rgba(247, 247, 244, 0.8);
}

.hamburger-sidebar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 500px;
  background-color: rgba(247, 247, 244, 1);
  overflow: auto;
  z-index: 3;
}

.spring .hamburger-sidebar {
  background-color: pink;
}
.summer .hamburger-sidebar {
  background-color: skyblue;
}
.autumn .hamburger-sidebar {
  background-color: rgba(255, 69, 0, 1);
}
.winter .hamburger-sidebar {
  background-color: aqua;
}

.darkmode .hamburger-sidebar {
  background-color: rgba(75, 74, 74, 1);
}

.hamburger-nav {
  list-style: none;
}

.hamburger-nav-button {
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.hamburger-nav-menu {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.hamburger-nav-link {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.hamburger-nav-submenu {
  list-style: none;
  padding-left: 0;
  padding-bottom: 10px;
}

.hamburger-nav-submenu li {
  padding-bottom: 10px;
  cursor: pointer;
}

.hamburger-nav-submenu li:hover {
  font-weight: bold;
}

@media (max-width: 1200px) {
  .hamburger {
    display: flex;
  }
  .header {
    display: none;
  }
}

@media (max-width: 700px) {
  .hamburger-sidebar {
    width: 100%;
  }
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: rgba(247, 247, 244, 0.7);
}

.home-darkmode .footer {
  background-color: rgba(75, 74, 74, 0.8);
  color: white;
}

.darkmode .footer {
  background-color: rgba(75, 74, 74, 0.8);
  color: white;
}

.footer p {
  margin: 0;
}

.footer-github a {
  text-decoration: none;
}

.home-darkmode .footer-github a {
  color: rgb(137, 155, 241);
}

.darkmode .footer-github a {
  color: rgb(137, 155, 241);
}

.footer-image-button {
  background: none;
  border: 1px solid;
}

.home-darkmode .footer-image-button {
  color: white;
}

.darkmode .footer-image-button {
  color: white;
}

.footer-image-source {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.home-darkmode .footer-image-source {
  color: rgba(255, 255, 255, 0.5);
}

.darkmode .footer-image-source {
  color: rgba(255, 255, 255, 0.5);
}

.footer-image-source a {
  color: rgba(0, 0, 0, 0.5);
}

.home-darkmode .footer-image-source a {
  color: rgba(255, 255, 255, 0.5);
}

.darkmode .footer-image-source a {
  color: rgba(255, 255, 255, 0.5);
}

.image-hidden {
  display: none;
}

/* Carousel */

.carousel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.carousel-image-spring {
  background-image: url("C:\seasons\seasons\public\assets\carousel-spring.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: -300vw;
  transition: all ease 2s;
}

.carousel-image-summer {
  background-image: url("C:\seasons\seasons\public\assets\carousel-summer.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: -200vw;
  transition: all ease 2s;
}

.carousel-image-autumn {
  background-image: url("C:\seasons\seasons\public\assets\carousel-autumn.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: -100vw;
  transition: all ease 2s;
}

.carousel-image-winter {
  background-image: url("C:\seasons\seasons\public\assets\carousel-winter.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0vw;
  transition: all ease 2s;
}

.carousel-image-spring-visible {
  margin-left: 300vw;
}

.carousel-image-summer-visible {
  margin-left: 200vw;
}
.carousel-image-autumn-visible {
  margin-left: 100vw;
}

.home-darkmode .carousel-image-spring {
  background-image: url("C:\seasons\seasons\public\assets\carousel-spring-darkmode.jpg");
}

.home-darkmode .carousel-image-summer {
  background-image: url("C:\seasons\seasons\public\assets\carousel-summer-darkmode.jpg");
}

.home-darkmode .carousel-image-autumn {
  background-image: url("C:\seasons\seasons\public\assets\carousel-autumn-darkmode.jpg");
}

.home-darkmode .carousel-image-winter {
  background-image: url("C:\seasons\seasons\public\assets\carousel-winter-darkmode.jpg");
}

.carousel-button {
  display: flex;
  flex-direction: column;
  margin-top: 25vh;
  gap: 50px;
  width: 200px;
  margin-left: 10px;
}

.carousel-button button {
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
}

.home-darkmode .carousel-button button {
  color: white;
}

.carousel-button .carousel-button-autoslide {
  font-size: 20px;
  border: 1px solid;
  margin-left: 30px;
  margin-right: 30px;
}

/* MainContent */

.maincontent {
  height: 100vh;
  display: flex;
}

.maincontent1-left {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.maincontent1-left-article {
  padding-left: 50px;
  padding-right: 150px;
  line-height: 1.5;
  font-size: 20px;
}

.maincontent1-left-button {
  margin-right: auto;
  font-size: 20px;
  margin-left: 50px;
  background: none;
  border: none;
  cursor: pointer;
  color: #551a8b;
}

.home-darkmode .maincontent1-left-button {
  color: rgb(137, 155, 241);
}

.maincontent1-right {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.maincontent1-right img {
  display: block;
  width: 90%;
  height: 60%;
  object-fit: cover;
  margin-right: 50px;
  border-radius: 5px;
}

.maincontent1-right-button {
  padding-right: 50px;
}

.maincontent1-right-button button {
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.home-darkmode .maincontent1-right-button button {
  color: white;
}

.maincontent2-left {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.maincontent2-left img {
  display: block;
  width: 90%;
  height: 60%;
  object-fit: cover;
  margin-left: 50px;
  border-radius: 5px;
}

.maincontent2-left-button {
  padding-left: 50px;
}

.maincontent2-left-button button {
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.home-darkmode .maincontent2-left-button button {
  color: white;
}

.maincontent2-right {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.maincontent2-right-article {
  padding-left: 150px;
  padding-right: 60px;
  line-height: 1.5;
  font-size: 20px;
}

.maincontent2-right-button {
  font-size: 20px;
  margin-left: 150px;
  margin-right: auto;
  background: none;
  border: none;
  cursor: pointer;
  color: #551a8b;
}

.home-darkmode .maincontent2-right-button {
  color: rgb(137, 155, 241);
}

.button-hidden {
  visibility: hidden;
}

/* common */

.darkmode {
  background-color: black;
  color: white;
}

.subpage-content {
  display: flex;
  min-height: 100vh;
}

.subpage-maincontent {
  margin-left: 5vw;
  margin-right: 5vw;
  width: 100vw;
  min-width: 600px;
  margin-top: 50px;
  margin-bottom: 100px;
}

/* Intro */

.intro button {
  border: none;
  background: none;
  color: #551a8b;
  cursor: pointer;
  font-size: 18px;
}

.darkmode .intro button {
  color: rgb(137, 155, 241);
}

/* Activity */

.activity {
  padding-left: 30px;
  padding-right: 30px;
}

.activity-content {
  width: 100%;
  height: 60vh;
  min-width: 500px;
  min-height: 500px;
  margin-bottom: 100px;
}

.activity-content-up-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 49.5%;
  gap: 10px;
  margin-bottom: 1%;
}

.activity-content-1 {
  border-radius: 5px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  cursor: default;
  overflow: hidden;
}

.activity-content-1-image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-image: url("/public/assets/activity-content-1.jpg");
  background-size: cover;
  background-position: center;

  transition: transform 0.5s ease;
}

.activity-content-1-image:hover {
  transform: scale(1.1);
}

.activity-content-up-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  gap: 10px;
}

.activity-content-2 {
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: default;
  overflow: hidden;
}

.activity-content-2-image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-image: url("/public/assets/activity-content-2.jpg");
  background-size: cover;
  background-position: center;

  transition: transform 0.5s ease;
}

.activity-content-2-image:hover {
  transform: scale(1.1);
}

.activity-content-3 {
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: default;
  overflow: hidden;
}

.activity-content-3-image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-image: url("/public/assets/activity-content-3.jpg");
  background-size: cover;
  background-position: center;

  transition: transform 0.5s ease;
}

.activity-content-3-image:hover {
  transform: scale(1.1);
}

.activity-content-4 {
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: default;
  overflow: hidden;
}

.activity-content-4-image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-image: url("/public/assets/activity-content-4.jpg");
  background-size: cover;
  background-position: center;

  transition: transform 0.5s ease;
}

.activity-content-4-image:hover {
  transform: scale(1.1);
}

.activity-content-5 {
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: default;
  overflow: hidden;
}

.activity-content-5-image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-image: url("/public/assets/activity-content-5.jpg");
  background-size: cover;
  background-position: center;

  transition: transform 0.5s ease;
}

.activity-content-5-image:hover {
  transform: scale(1.1);
}

.activity-content-down-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 49.5%;
  gap: 10px;
  margin-bottom: 1%;
}

.activity-content-down-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  gap: 10px;
}

.activity-content-6 {
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: default;
  overflow: hidden;
}

.activity-content-6-image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-image: url("/public/assets/activity-content-6.jpg");
  background-size: cover;
  background-position: center;

  transition: transform 0.5s ease;
}

.activity-content-6-image:hover {
  transform: scale(1.1);
}

.activity-content-7 {
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: default;
  overflow: hidden;
}

.activity-content-7-image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-image: url("/public/assets/activity-content-7.jpg");
  background-size: cover;
  background-position: center;

  transition: transform 0.5s ease;
}

.activity-content-7-image:hover {
  transform: scale(1.1);
}

.activity-content-8 {
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: default;
  overflow: hidden;
}

.activity-content-8-image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-image: url("/public/assets/activity-content-8.jpg");
  background-size: cover;
  background-position: center;

  transition: transform 0.5s ease;
}

.activity-content-8-image:hover {
  transform: scale(1.1);
}

.activity-content-9 {
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: default;
  overflow: hidden;
}

.activity-content-9-image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-image: url("/public/assets/activity-content-9.jpg");
  background-size: cover;
  background-position: center;

  transition: transform 0.5s ease;
}

.activity-content-9-image:hover {
  transform: scale(1.1);
}

.activity-content-10 {
  border-radius: 5px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  cursor: default;
  overflow: hidden;
}

.activity-content-10-image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-image: url("/public/assets/activity-content-10.jpg");
  background-size: cover;
  background-position: center;

  transition: transform 0.5s ease;
}

.activity-content-10-image:hover {
  transform: scale(1.1);
}

.activity-content-food .activity-content-1-image {
  background-image: url("/public/assets/activity-food-content-1.jpg");
}

.activity-content-food .activity-content-2-image {
  background-image: url("/public/assets/activity-food-content-2.jpg");
}

.activity-content-food .activity-content-3-image {
  background-image: url("/public/assets/activity-food-content-3.jpg");
}

.activity-content-food .activity-content-4-image {
  background-image: url("/public/assets/activity-food-content-4.jpg");
}

.activity-content-food .activity-content-5-image {
  background-image: url("/public/assets/activity-food-content-5.jpg");
}

.activity-content-food .activity-content-6-image {
  background-image: url("/public/assets/activity-food-content-6.jpg");
}

.activity-content-food .activity-content-7-image {
  background-image: url("/public/assets/activity-food-content-7.jpg");
}

.activity-content-food .activity-content-8-image {
  background-image: url("/public/assets/activity-food-content-8.jpg");
}

.activity-content-food .activity-content-9-image {
  background-image: url("/public/assets/activity-food-content-9.jpg");
}

.activity-content-food .activity-content-10-image {
  background-image: url("/public/assets/activity-food-content-10.jpg");
}

/* Tip */

.tip {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 2px solid rgba(255, 192, 203, 0.6);
  margin: 20px;
}
.summer .tip {
  border-top: 2px solid rgba(115, 196, 228, 0.6);
}
.autumn .tip {
  border-top: 2px solid rgba(255, 69, 0, 0.6);
}

.tip-content {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 20px;
  display: flex;
  border-bottom: 2px solid rgba(255, 192, 203, 0.6);
  min-height: 200px;
}
.summer .tip-content {
  border-bottom: 2px solid rgba(115, 196, 228, 0.6);
}
.autumn .tip-content {
  border-bottom: 2px solid rgba(255, 69, 0, 0.6);
}

.tip-content img {
  width: 30%;
  margin-right: 5%;
  border-radius: 5px;
  object-fit: cover;
}

.tip-content-text {
  width: 60%;
}

.tip-content h4 {
  margin-top: 0;
}

.tip-content a {
  margin-top: 20px;
  color: #551a8b;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  display: block;
}

.darkmode .tip-content a {
  color: rgb(137, 155, 241);
}

/* Gallery */

.gallery-item {
  width: 100%;
  margin-bottom: 100px;
}

.gallery-item-wrapper {
  display: flex;
  height: 25vh;
  align-items: center;
}

.gallery-items-visible {
  flex-grow: 1;
  overflow: hidden;
  height: 100%;
  display: flex;
}

.gallery-items {
  display: flex;
  width: 10000px;
  height: 100%;
  transition: margin 0.5s ease;
}

.gallery-item-content {
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.gallery-item-content img {
  height: 80%;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}

.gallery-description {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
}

.gallery-item-left-button {
  visibility: hidden;
  border: none;
  font-weight: bold;
  font-size: 20px;
  background-color: rgba(255, 192, 203, 0.5);
  border-radius: 50%;
}
.summer .gallery-item-left-button {
  background-color: rgba(115, 196, 228, 0.5);
}
.autumn .gallery-item-left-button {
  background-color: rgba(255, 69, 0, 0.5);
}

.gallery-item-left-button:hover {
  transform: scale(1.5);
}

.gallery-item-right-button {
  border: none;
  font-weight: bold;
  font-size: 20px;
  background-color: rgba(255, 192, 203, 0.5);
  border-radius: 50%;
}
.summer .gallery-item-right-button {
  background-color: rgba(115, 196, 228, 0.5);
}
.autumn .gallery-item-right-button {
  background-color: rgba(255, 69, 0, 0.5);
}

.gallery-item-right-button:hover {
  transform: scale(1.5);
}

/* Board */

.board {
  margin-left: 50px;
  margin-right: 50px;
}

.board input {
  margin-bottom: 20px;
  outline: none;
}

.board-input-resetbutton {
  background: none;
  border: none;
  cursor: pointer;
}

.darkmode .board-input-resetbutton {
  color: white;
}

.board-item {
  margin-bottom: 20px;
}

.board-item-post {
  padding: 10px;
  display: flex;
  background-color: rgba(255, 192, 203, 0.3);
  cursor: pointer;
  border-radius: 5px;
}
.summer .board-item-post {
  background-color: rgba(115, 196, 228, 0.3);
}
.autumn .board-item-post {
  background-color: rgba(255, 69, 0, 0.3);
}

.board-item-post-postnumber {
  margin-right: 20px;
  border-right: 2px solid pink;
  padding-right: 15px;
  white-space: nowrap;
}
.summer .board-item-post-postnumber {
  border-right: 2px solid skyblue;
}
.autumn .board-item-post-postnumber {
  border-right: 2px solid rgb(245, 123, 79);
}

.darkmode .board-item-post-postnumber {
  border-right: 2px solid black;
}

.board-item-post-title {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 20px;
}

.board-item-post-user {
  border-left: 2px solid pink;
  padding-left: 15px;
  white-space: nowrap;
}
.summer .board-item-post-user {
  border-left: 2px solid skyblue;
}
.autumn .board-item-post-user {
  border-left: 2px solid rgb(245, 123, 79);
}

.darkmode .board-item-post-user {
  border-left: 2px solid black;
}

.board-item-content {
  background-color: rgba(255, 192, 203, 0.4);
  padding: 20px;
  display: none;
  cursor: pointer;
  border-radius: 5px;
}
.summer .board-item-content {
  background-color: rgba(115, 196, 228, 0.4);
}
.autumn .board-item-content {
  background-color: rgba(255, 69, 0, 0.4);
}

.board-item-content-display {
  display: block;
}
